.dkModeM {
  background-color: #000;
  color: #fff;
}
.dkModeM hr {
  background-color: #58a7a4;
}
.ltModeM {
  background-color: #fff;
  color: #000;
}
.ltModeM hr {
  background-color: #bfdddc;
}
.dkModeN {
  background-color: #905a09;
  color: #fff;
}
.ltModeN {
  background-color: #f2a535;
  color: #000;
}
.dkModeMisc {
  background-color: #41beb4;
  color: #000;
}
.ltModeMisc {
  background-color: #1a4c48;
  color: #fff;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
