.ltModeM {
  background-color: #fff;
  background-image: url('/crochetApp/static/images/light-honeycomb.png');
  color: #000;
}
.ltModeM hr {
  background-color: #bfdddc;
}
.ltModeM .hidden {
  background-color: #1a4c48;
  height: 0.2em;
  width: 0.2em;
  margin: 0.2em;
}
.ltModeN {
  background-color: #f2a535;
  color: #000;
}
.ltModeN a {
  color: #1a4c48;
  text-decoration: none;
}
.ltModeF {
  background-color: #905a097e;
  background-image: url('/crochetApp/static/images/lined-paper-2.png');
  color: #000;
  border-radius: 20%;
}
.ltModeF a {
  color: #1a4c48;
  text-decoration: none;
}
.ltModeH {
  background-image: url('/crochetApp/static/images/lined-paper-2.png');
  background-color: #fff;
  color: #000;
}
.ltModeMisc {
  background-color: #1a4c48;
  color: #fff;
}
.dkModeM {
  background-color: #000;
  background-image: url('/crochetApp/static/images/light-honeycomb-dark.png');
  color: #fff;
}
.dkModeM hr {
  background-color: #58a7a4;
}
.dkModeM .hidden {
  background-color: #1a4c48;
  height: 0.2em;
  width: 0.2em;
  margin: 0.2em;
}
.dkModeN {
  background-color: #905a09;
  color: #fff;
}
.dkModeN a {
  color: #bfdddc;
  text-decoration: none;
}
.dkModeF {
  background-color: #905a097e;
  color: #fff;
}
.dkModeF a {
  color: #bfdddc;
  text-decoration: none;
}
.dkModeH {
  background-color: #000;
  background-image: url('/crochetApp/static/images/lined-paper-2.png');
  color: #fff;
}
.dkModeMisc {
  background-color: #fff;
  color: #1a4c48;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url('/crochetApp/static/images/light-honeycomb.png');
  color: #000;
}
body hr {
  background-color: #bfdddc;
}
body .hidden {
  background-color: #1a4c48;
  height: 0.2em;
  width: 0.2em;
  margin: 0.2em;
}
body button {
  background-color: #1a4c48;
  color: #fff;
  padding: 0.5em;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2a535;
  color: #000;
  width: 95%;
  border-bottom: 4px groove #bfdddc;
}
body header a {
  color: #1a4c48;
  text-decoration: none;
}
body header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header .header img {
  width: 3.5em;
  margin: 1em 3em;
}
body header .header h1 {
  margin: 1em 3em;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header nav a {
  padding: 1em;
}
body header nav button a {
  color: #fff;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 1em 1.5em;
}
body .main .profImg {
  max-width: 100px;
  border-radius: 50%;
}
body .main .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
body .main .profile .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2a535;
  color: #000;
  align-items: flex-start;
  margin: 1em;
  padding: 1em;
  border: 2px groove #bfdddc;
}
body .main .profile .info a {
  color: #1a4c48;
  text-decoration: none;
}
body .main nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2a535;
  color: #000;
  margin-bottom: 1em;
}
body .main nav a {
  color: #1a4c48;
  text-decoration: none;
}
body .main nav a {
  padding: 1em;
}
body .main .homeImg {
  width: 70%;
  max-height: 400px;
  object-fit: cover;
  margin: 1em;
}
body .main .homeButton {
  margin-top: -26px;
  width: 15em;
  padding: 0.3em;
}
body .main .homeButton a {
  color: #fff;
  text-decoration: none;
}
body .main .section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main .section img {
  width: 250px;
  margin: 1em;
}
body .main .section .aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main .aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main ul li {
  margin: 1em;
}
body .main ul li a {
  text-decoration: none;
  color: #905a09;
}
body .main .login {
  background-color: #905a097e;
  background-image: url('/crochetApp/static/images/lined-paper-2.png');
  color: #000;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  min-height: 400px;
  width: 500px;
}
body .main .login a {
  color: #1a4c48;
  text-decoration: none;
}
body .main .login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .login form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main .login form section label {
  margin: 0 1em;
}
body .main .all {
  background-color: #fff;
  background-image: url('/crochetApp/static/images/light-honeycomb.png');
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .all hr {
  background-color: #bfdddc;
}
body .main .all .hidden {
  background-color: #1a4c48;
  height: 0.2em;
  width: 0.2em;
  margin: 0.2em;
}
body .main .all section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .all section h3,
body .main .all section p {
  margin: 1em;
}
body .main .all section a {
  text-decoration: none;
  color: #1a4c48;
}
body .main .allprods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .main .allprods .prods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  border: 3px groove #bfdddc;
  margin: 0.5em;
}
body .main .allprods .prods section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main .allprods .prods img {
  max-width: 200px;
  margin: 1em;
}
body .main .form {
  background-color: #905a097e;
  background-image: url('/crochetApp/static/images/lined-paper-2.png');
  color: #000;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
body .main .form a {
  color: #1a4c48;
  text-decoration: none;
}
body .main .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .form form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main .form form section label {
  margin: 0 1em;
}
body .main button {
  background-color: #1a4c48;
  color: #fff;
  padding: 0.5em;
}
body .main button a {
  text-decoration: none;
  color: #fff;
}
body .main .users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .main .users .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main .users .user a {
  color: #1a4c48;
  text-decoration: none;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 4px groove #bfdddc;
  min-height: 3em;
  min-width: 4em;
  margin: 1em;
  width: 95%;
}
body footer section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body footer section img {
  width: 30px;
  margin: 1em;
}
body footer section a {
  color: #000;
  text-decoration: none;
}
.hangouts {
  background-image: url('/crochetApp/static/images/lined-paper-2.png');
}
.hangouts .main .hangImg {
  max-width: 50px;
  border-radius: 50%;
}
.hangouts .main .theForum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.hangouts .main .theForum .posts {
  background-image: url('/crochetApp/static/images/lined-paper-2.png');
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #58a7a4;
  width: 95%;
  margin-top: 1em;
  min-height: 75px;
}
.hangouts .main .theForum .posts .post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #fff;
  margin: 1em;
}
.hangouts .main .theForum .posts .post .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
.hangouts .main .theForum .posts .post .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
.hangouts .main .theForum .posts .post .row h3 {
  margin-right: 3em;
}
.hangouts .main .theForum .posts .post .row p,
.hangouts .main .theForum .posts .post .row button {
  margin-left: 3em;
}
.hangouts .main .theForum .posts .post .row a {
  margin-left: 5em;
  color: #1a4c48;
}
.hangouts .main .theForum .posts .post .hang {
  align-items: baseline;
}
.hangouts .main .theForum .posts .post .replies {
  display: none;
}
body.darkMode {
  background-color: #000;
  background-image: url('/crochetApp/static/images/light-honeycomb-dark.png');
  color: #fff;
}
body.darkMode hr {
  background-color: #58a7a4;
}
body.darkMode .hidden {
  background-color: #1a4c48;
  height: 0.2em;
  width: 0.2em;
  margin: 0.2em;
}
body.darkMode button {
  background-color: #fff;
  color: #1a4c48;
}
body.darkMode header {
  background-color: #905a09;
  color: #fff;
}
body.darkMode header a {
  color: #bfdddc;
  text-decoration: none;
}
body.darkMode header nav button a {
  color: #000;
}
body.darkMode .main nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #905a09;
  color: #fff;
}
body.darkMode .main nav a {
  color: #bfdddc;
  text-decoration: none;
}
body.darkMode .main nav a {
  padding: 1em;
}
body.darkMode .main .profile .info {
  background-color: #905a09;
  color: #fff;
}
body.darkMode .main .profile .info a {
  color: #bfdddc;
  text-decoration: none;
}
body.darkMode .main .homeButton a {
  color: #1a4c48;
}
body.darkMode .main ul li a {
  color: #905a09;
}
body.darkMode .main .login {
  background-color: #905a097e;
  color: #fff;
}
body.darkMode .main .login a {
  color: #bfdddc;
  text-decoration: none;
}
body.darkMode .main .all {
  background-color: #000;
  background-image: url('/crochetApp/static/images/light-honeycomb-dark.png');
  color: #fff;
}
body.darkMode .main .all hr {
  background-color: #58a7a4;
}
body.darkMode .main .all .hidden {
  background-color: #1a4c48;
  height: 0.2em;
  width: 0.2em;
  margin: 0.2em;
}
body.darkMode .main .all section a {
  color: #bfdddc;
}
body.darkMode .main .form {
  background-color: #905a097e;
  color: #fff;
}
body.darkMode .main .form a {
  color: #bfdddc;
  text-decoration: none;
}
body.darkMode .main button {
  background-color: #fff;
  color: #1a4c48;
  padding: 0.5em;
}
body.darkMode .main button a {
  text-decoration: none;
  color: #000;
}
body.darkMode .main .users .user a {
  color: #bfdddc;
}
body.darkMode footer section a {
  color: #fff;
}
.hangouts.darkMode {
  background-image: url('/crochetApp/static/images/lined-paper-2.png');
}
.hangouts.darkMode .main .theForum .posts {
  background-color: #1a4c48;
}
.hangouts.darkMode .main .theForum .posts .post .row a {
  color: #bfdddc;
}
