<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{editPost.postTitle}} - HoneyBee's Hangouts</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" />
</head>
<body>
    <header>
        <section class='header'>
            <img src="{% static 'images/logo.png' %}" alt='HoneyBees Crochet' />
            <h1>Welcome to HoneyBee's Crochet</h1>
        </section>
        <nav>
            <a href='/'>Home</a>
            <a href='/shop/'>The Store</a>
            <a href='/about/'>About</a>
            <a href='/contact/'>Contact</a>
            <a href='/hangouts/'>HoneyBee's Hangouts</a>
            <a href='/dashboard/'>Dashboard</a>
            <button><a href='/logout/'>Logout</a></button>
        </nav>
        <button class="dkMode">Toggle Light/Dark Mode</button>
    </header>
    <div class='main'>
        <a href='/hangouts/'><button>Back to HoneyBee's Hangouts</button></a>
        <h2>Add post to the following selected Topic: {{addPost.topicName}}</h2>
        <div class='form'>
            <section>
                <h3>Your current post contents:</h3>
                <h4>{{editPost.postTitle}}</h4>
                <p>{{editPost.postContent}}</p>
            </section>
            <form action='/hangouts/post/{{editPost.id}}/updatePost/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='postTitle'>Title</label>
                    <input name='postTitle' type='text' value='{{editPost.postTitle}}'>
                </section>
                <section>
                    <label for='postContent'>Your Text</label>
                    <textarea name='postContent' value='{{editPost.postContent}}'>{{editPost.postContent}}</textarea>
                </section>
                <section style="display: none;">
                    <label for='postAuthor'>Author</label>
                    <input name='postAuthor' value='{{user.id}}'>
                </section>
                <section style="display: none;">
                    <label for='postTopic'>Topic</label>
                    <input name='postTopic' value={{editPost.id}}>
                </section>
                <button>Update Post</button>
            </form>
            <a href='/hangouts/post/{{editPost.id}}/deletePost/'><button>Delete Post</button></a>
        </div>
    </div>
    <footer>
        <section>
            <img src='https://images.craftsnherbs.com/beelogo.jpg' alt='BeeDev Services Logo' />
            <a href='https://beedev-services.com' target="_blank"><h4>© 2021 by BeeDev Services</h4></a>
        </section>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>