<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Reply - HoneyBee's Hangouts</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" />
</head>
<body>
    <header>
        <section class='header'>
            <img src="{% static 'images/logo.png' %}" alt='HoneyBees Crochet' />
            <h1>Welcome to HoneyBee's Crochet</h1>
        </section>
        <nav>
            <a href='/'>Home</a>
            <a href='/shop/'>The Store</a>
            <a href='/about/'>About</a>
            <a href='/contact/'>Contact</a>
            <a href='/hangouts/'>HoneyBee's Hangouts</a>
            <a href='/dashboard/'>Dashboard</a>
            <button><a href='/logout/'>Logout</a></button>
        </nav>
        <button class="dkMode">Toggle Light/Dark Mode</button>
    </header>
    <div class='main'>
        <a href='/hangouts/'><button>Back to HoneyBee's Hangouts</button></a>
        <h2>Add your reply</h2>
        <div class='form'>
            <section>
                <h4>{{addReply.postTitle}}</h4>
                <p>{{addReply.postContent}}</p>
                <section>
                    {% for reply in replies %}
                        <p>{{reply.replyText}}</p>
                        <p>{{reply.poster.username}}</p>
                    {% endfor %}
                </section>
            </section>
        </div>
        <div class='form'>
            <form action='/hangouts/post/{{addReply.id}}/createReply/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='replyText'>Add your Reply:</label>
                    <textarea name='replyText'></textarea>
                </section>
                <section style="display: none;">
                    <label for='poster'>Author</label>
                    <input name='poster' value='{{user.id}}'>
                </section>
                <section style="display: none;">
                    <label for='replyPost'>Post</label>
                    <input name='replyPost' value='{{addReply.id}}'>
                </section>
                <button>Add Reply</button>
            </form>
        </div>
    </div>
    <footer>
        <section>
            <img src='https://images.craftsnherbs.com/beelogo.jpg' alt='BeeDev Services Logo' />
            <a href='https://beedev-services.com' target="_blank"><h4>© 2021 by BeeDev Services</h4></a>
        </section>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>